header.header
    .container 
        nav.nav
            a.nav__logo(href="../../") 
                p JS BAND STORE
                p(style="font-size:1.5rem; font-weight: 400;") by Valerii Kartashov
            input(type="checkbox", name="burger" id="burger")
            label(for="burger") 
                span 
                span 
                span 
            .controls#controls
                button.basket-btn 
                    +svgCart('#fff')
                button.sign-btn Sign Out
                a(href="#").user 
                    img(src="../../img/avatar.webp").user__img 
                    .user__name VeryLongUserName
