.cart {
    height: 100%;

    &__contianer {
        position: relative;
        padding-block: 25px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__btn {
        align-self: flex-start;
        margin-top: 0;
        background-color: $accent;
        color: rgb(49, 49, 49);
        border-radius: 3px;
        padding: 7px 20px;
        font-size: 1.7rem;
        transition: .4s all ease;
        border: 1px transparent solid;
        box-shadow: 0.1px 0.1px 2px black;
        text-align: center;
        &:hover{
            background-color: $accentA;
            color: rgb(49, 49, 49);
        }
    }

    &__inner-wrapper {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 140px;
    }

    &__text {
        font-size: 2rem;
        text-align: center;
    }
}
