extends ../../layouts/layout
block scripts 
    script(src="main.js")
block content
    section.books
        .container
            .books__search
                .search
                    .search__input-wrapper 
                        input(type="search", name="search" id="search")
                    .search__filter-wrapper 
                        label(for="filter") Sort by:
                        select(name="filter" id="filter")
                            option(value="price") Price
                            option(value="author") Author 
                            option(value="title") Title
            .books__list
                ul.list#list
                    for book in []
                        li.list__item.item
                            a.item__img-wrapper
                                .item__img(style=`background-image:url(${book.img})`)
                            p.item__name= book.name
                            p.item__author= book.author 
                            span.item__price= book.price 
                            button.item__btn Viev
