extends ../../layouts/layout
block content
    section.cart 
        .cart__contianer.container
            button.cart__btn Purshache
            ul.list 
                for item in [{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book very-very-very long-long long-long  name', count: 9, total: 440},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},{name:'Book name', count: 22, total: 440}, {name:'Book long name', count: 2, total: 40},]
                    li.item 
                        span.item__book-name= item.name
                        span.item__count= item.count
                        span.item__total= item.total
            .total  
                span.total__title Total: 
                span.total__price 44480
