@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}
@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 350px;
  background: rgb(17, 0, 24);
  background: linear-gradient(90deg, rgb(54, 26, 42) 0%, rgb(47, 27, 51) 44%, rgb(54, 26, 42) 100%);
}

.container {
  max-width: 1100px;
  padding-inline: 20px;
  margin: 0 auto;
}

button {
  position: relative;
  background-color: rgb(247, 233, 243);
  color: rgb(49, 49, 49);
  border-radius: 3px;
  padding: 7px 20px;
  font-size: 1.7rem;
  transition: 0.4s all ease;
  border: 1px transparent solid;
  box-shadow: 0.1px 0.1px 2px black;
  text-align: center;
}
button:hover {
  cursor: pointer;
  background-color: rgb(241, 218, 113);
}

input, select {
  padding: 4px 7px;
  width: 100%;
  height: 3.5rem;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  box-shadow: 0.1px 0.1px 2px;
}
input:focus, select:focus {
  outline: 1px solid rgb(247, 233, 243);
}

option {
  background-color: rgb(54, 26, 42);
  color: rgb(247, 233, 243);
  font-size: 3rem;
}

a:hover {
  color: rgb(241, 218, 113);
}

::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background-color: rgb(47, 27, 51); /* Цвет фона дорожки скроллбара */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(54, 26, 42); /* Цвет самого скроллбара */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(241, 218, 113); /* Цвет скроллбара при наведении */
}

body {
  scrollbar-width: thin; /* Ширина скроллбара */
  scrollbar-color: rgb(47, 27, 51) rgb(54, 26, 42); /* Цвет скроллбара и дорожки */
}

.cart {
  height: 100%;
}
.cart__contianer {
  padding-block: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart__btn {
  align-self: end;
  margin-top: 0;
}
.cart .list {
  padding-block: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 1.7rem;
}
.cart .list .item {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.171);
  padding: 15px 20px;
  transition: 0.4s ease all;
  box-shadow: 0.4px 0.4px 3px 0px black;
  cursor: pointer;
}
.cart .list .item:hover {
  transform: scale(1.02);
  color: black;
}
.cart .list .item:first-child {
  border-radius: 20px 20px 0 0;
}
.cart .list .item:last-child {
  border-radius: 0 0 20px 20px;
}
.cart .list .item span {
  display: inline-block;
}
.cart .list .item__book-name {
  flex: 1 1 170px;
}
.cart .list .item__count {
  flex: 1 1 auto;
}
.cart .list .item__total {
  flex: 1 1 50px;
  text-align: right;
}
.cart .list .item__total::after {
  content: "$";
}
.cart .total {
  font-size: 2rem;
  text-align: right;
  padding-right: 15px;
}
.cart .total__price {
  font-weight: 500;
}
.cart .total__price::after {
  content: "$";
}

.header {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: rgb(54, 26, 42);
  font-size: 2.3rem;
  box-shadow: 0px 0.4px 2px rgb(247, 233, 243);
}
.header .nav,
.header .controls,
.header .user {
  display: flex;
  align-items: center;
}
.header .nav {
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 8rem;
}
.header .nav__logo {
  font-size: 2.2rem;
  font-weight: 400;
}
.header .nav label {
  position: relative;
  display: none;
  background-color: transparent;
  width: 29px;
  height: 29px;
}
@media (max-width: 819px) {
  .header .nav label {
    display: block;
  }
}
.header .nav label span {
  position: absolute;
  top: 14px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: rgb(247, 233, 243);
  transition: all 0.5s ease;
}
.header .nav label span:nth-child(1) {
  top: 6px;
}
.header .nav label span:nth-child(3) {
  top: 22px;
}
.header .nav input {
  display: none;
}
.header .nav input:checked ~ #controls {
  height: 200px;
  padding: 20px;
}
.header .nav input:checked ~ label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 50%;
}
.header .nav input:checked ~ label span:nth-child(2) {
  opacity: 0;
}
.header .nav input:checked ~ label span:nth-child(3) {
  transform: rotate(45deg);
  top: 50%;
}
.header .nav .controls {
  gap: 20px;
}
@media (max-width: 819px) {
  .header .nav .controls {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    overflow-y: hidden;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(54, 26, 42) 0%, rgb(47, 27, 51) 100%);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px 0px black;
    transition: all 0.3s ease;
  }
}
.header .nav .controls .basket-btn {
  background: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
}
@media (max-width: 819px) {
  .header .nav .controls .basket-btn {
    order: 2;
  }
}
.header .nav .controls .basket-btn:hover {
  transition: 4.5s ease all;
}
.header .nav .controls .basket-btn:hover path {
  fill: rgb(241, 218, 113);
}
.header .nav .controls .basket-btn svg {
  width: 35px;
  height: 35px;
}
@media (max-width: 819px) {
  .header .nav .controls .sign-btn {
    order: 3;
  }
}
.header .nav .controls .user {
  gap: 10px;
  font-size: 1.7rem;
}
@media (max-width: 819px) {
  .header .nav .controls .user {
    order: 1;
  }
}
.header .nav .controls .user__img {
  width: 40px;
  height: 40px;
  border: solid 3px black;
  border-radius: 50%;
}
.header .nav .controls .user__name {
  width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 819px) {
  .header .nav .controls .user__name {
    width: 100%;
  }
}

.footer {
  background-color: rgb(54, 26, 42);
  font-size: 1.4rem;
  font-weight: 300;
  box-shadow: 0px -0.4px 2px rgb(247, 233, 243);
}
.footer__wrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  text-align: center;
}