.books {
    padding-block: 22px;

    &__search {
        margin-bottom: 20px;

        .search {
            display: flex;
            gap: 10px;

            &__search-input-wrapper {
                position: relative;
                width: 80%;
                max-width: 500px;

                input[type="search"] {
                    padding-right: 50px;
                }
                &::after {
                    content: $glass;
                    position: absolute;
                    width: 2.5rem;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            &__filter-input-wrapper {
                flex: 0 1 200px;
                display: flex;
                align-items: center;
                gap: 6px;

                label {
                    font-size: 1.4rem;
                    white-space: nowrap;
                }
                option {
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &__item {
        width: 20%;
        padding: 5px;
        &:hover {
            transform: scale(1.03);
        }
        @media (max-width: 1024px) {
            width: 25%;
        }

        @media (max-width: 768px) {
            width: 33.33333%;
        }

        @media (max-width: 600px) {
            width: 50%;
        }

        @media (max-width: 320px) {
            width: 100%;
        }
        .book {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 10px;
            height: 100%;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.068);

            &__img {
                width: 100%;
                padding-bottom: 140%;
                background-size: cover;
                background-position: center;
            }

            &__name {
                font-size: 1.7rem;
                // font-weight: 500;
                flex-basis: calc(1.7rem * 2.4);
            }

            &__author {
                font-size: 1.5rem;
                flex-basis: calc(1.5rem * 2.4);
            }

            &__name,
            &__author {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                -webkit-box-orient: vertical;
                line-height: 1.2;
            }
            &__price {
                font-size: 1.7rem;
                line-height: 1.6;
                &::after {
                    content: "$";
                }
            }
            &__btn {
                float: right;
            }
        }
    }
}
