extends ../../layouts/layout
block content
    section.cart 
        .cart__contianer.container
            a(href="../book_list/").cart__btn Back to books
            .cart__inner-wrapper 
                +svgCart('#fff').cart__img
                p.cart__text Cart empty...