extends ../../layouts/layout
block content
    section.cart 
        .cart__contianer.container
            button.cart__btn Purshache
            .cart__inner-wrapper 
                +svgCart('#fff').cart__img
                p.cart__text Cart empty...