extends ../../layouts/layout

block content
    section.auth
        .auth__container.container
            form.form(action="/") 
                .form__input-wrapper
                    label.form__label(for="name") Username
                    input.form__input(type="text" id="name")
                .form__input-wrapper
                    label.form__label(for="password") Password
                    input.form__input(type="password" id="password")
                button.form__btn(type="submit") Log in

